@use "default";

:root[data-theme="default"] {
  --bg-clear: linear-gradient(180deg, rgba(83,165,219,1) 0%, rgba(116,186,231,1) 100%);
  --bg-rain: linear-gradient(180deg, rgba(91,90,94,1) 0%, rgba(28,117,167,1) 100%);
  --bg-hot: linear-gradient(180deg, rgba(131,15,98,1) 0%, rgba(249,82,57,1) 100%);
  --bg-storm: linear-gradient(180deg, rgba(19,34,91,1) 0%, rgba(149,97,160,1) 100%);
  --bg-snow: linear-gradient(180deg, rgba(121,124,135,1) 0%, rgba(172,183,189,1) 100%);
  --bg-cloud: linear-gradient(180deg, rgba(85,148,177,1) 0%, rgba(167,188,199,1) 100%);
  --bg-sand: linear-gradient(180deg, rgba(178,114,58,1) 0%, rgba(218,166,96,1) 100%);
  --bg-smoke: linear-gradient(180deg, rgba(180,149,129,1) 0%, rgba(54,52,60,1) 100%);
  --bg-mist: linear-gradient(180deg, rgba(60,112,187,1) 0%, rgba(233,233,233,1) 100%);
  --bg-main: linear-gradient(180deg, #afe4fd 0%, #e8e8e8 100%);
  --main-font: "Antonio";
  --font-color-light: #fff;
  --font-color-medium: #b7b9c7;
  --font-color-dark: #2e3040;
}
